body {
     color: rgb(34, 31, 37);
    background-color: rgb(247, 248, 252);
    margin-left: 80px;
    margin: auto; 
    width: 800px;

  }
  h1 {
    font-family: "Verdana", "Arial", sans-serif;
  }
  h2 {
    font-family: "Arial", "Georgia", sans-serif;
  }
  h3 {
    font-family: "Helvetica", "Arial", sans-serif;
  }
  
  table, th, td {
    padding: 5px;
}
  table#t01 tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
  }
  table#t01 tr:nth-child(odd) {
    background-color: rgb(226, 225, 225);
  }
  table {
    width: 55%;
    height: 15%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }